
<center style ="
    border: solid 2px lightslategrey;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 76%;
    margin-left: 274px;
    background-color: rgba(86, 106, 123, 0.7);
    border-radius: 16px;
"  >
        
         <table width="70%" border="1">
            
            <tr>
         
            <th style="color: white;">Bus Number</th>
            <th style="color: white;">Status</th>
            <th style="color: white;">Coach Type</th>
            <th style="color: white;">Route</th>
            <th style="color: white;">Rating</th>
            <th style="color: white;">Travel Agency</th>
            
            </tr>
                <!-- BEGIN agency_data -->
           
            <tr>
               
                <td style="color: white;">{BUS_NUMBER}</td>
                <td style="color: white;">{STATUS}</td>
                <td style="color: white;">{COACH_TYPE}</td>
                <td style="color: white;">{ROUTE}</td>
                <td style="color: white;">{RATING}</td>
                <td style="color: white;">{AGENCY_NAME}</td>
            </tr>
              <!-- END agency_data -->
             <tr style = "color: red;">{ERROR}</tr>
                
         </table>   
</center>            