
<center style ="
    border: solid 2px lightslategrey;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 76%;
    margin-left: 274px;
    background-color: rgba(86, 106, 123, 0.7);
    border-radius: 16px;
"  >
        
        <div class="flex-container">
            <!-- BEGIN bus_data -->
            <div>
                <h3>BUS</h3>
                <table>
                    <tr> <td style="padding: 3px;">ID </td> <td> {ID}</td> </tr>
                    <tr> <td style="padding: 3px;">BUS NUMBER </td> <td> {BUS_NUMBER}</td> </tr>
                    <tr> <td style="padding: 3px;">STATUS </td> <td> {STATUS}</td> </tr>
                    <tr> <td style="padding: 3px;">COACH </td> <td> {COACH_TYPE}</td> </tr>
                </table>
            </div>
            <div>
                <h3>ROUTE</h3>
                <table>
                    <tr> <td style="padding: 3px;">ROUTE NAME </td> <td> {ROUTE_NAME} </td></tr>
                        <tr> <td style="padding: 3px;">SOURCE </td> <td> {SOURCE} </td></tr>
                        <tr> <td style="padding: 3px;">DESTINATION </td> <td> {DESTINATION}</td></tr>
                        <tr> <td style="padding: 3px;">START TIME </td> <td> {START_TIME}</td> </tr>
                        <tr><td style="padding: 3px;">JOURNEY TIME </td> <td> {JOURNEY_TIME}</td></tr>
                        <tr><td style="padding: 3px;">PRICE </td> <td> {PRICE}</td></tr>
                        <tr><td style="padding: 3px;">RATING </td> <td> {RATING}</td></tr>
                </table>    

            </div>
            <div>
                <h3>AGENCY</h3>
                <table>
                   <tr> <td style="padding: 3px;">AGENCY NAME </td> <td> {AGENCY_NAME}</td> </tr>
                   <tr> <td style="padding: 3px;">PHONE NUMBER </td> <td> {AGENCY_NUMBER}</td> </tr>
                   <tr> <td style="padding: 3px;">ADDRESS </td> <td> {AGENCY_ADDRESS}</td> </tr>
                 </table>
             </div> 
            <!-- END bus_data -->
        </div>
    
    
    
    
    
    
    
</center>