<center>
<!-- BEGIN show_forget_password_form -->
<h3 style="color: lightgray;">Forget Password</h3>
   
    <form method="POST">
        <table>
            <tr>
                <td style="color: lightgray;">Enter Your Email-Id </td>
                <td><input type="text" value="{EMAIL}" name="email"/></td>  
            </tr>

             <tr>
                <td><input type="submit" value="submit" name="submit"/></td>  
            </tr>
             <tr>
                 <td><span  style="color: red;">{ERROR_MESSAGE}</span>
            </tr>
        </table> 
    </form>
<!-- END show_forget_password_form -->
    <h3>{RESET_CONTENT}</h3>
</center>